<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="padding-left: 4px;">
                <p class="m-0 text-dark" style="font-size: 30px;" ><%=title%></p>
            </div>
        </div>
    </div>
</div>