<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="ALOPAY">
<meta name="description" content="Brand New Concept sending service. Fast , Easy and Cheap">

<meta property="og:title" content="ALOPAY">
<meta property="og:description" content="Brand New Concept sending service. Fast , Easy and Cheap">
<meta property="og:image" content="//54.180.118.146:8000/dist/img/logo.png">
<link rel="shortcut icon" type="image/x-icon" href="//54.180.118.146:8000/dist/img/logo.png" />
<title>A'LOPAY</title>